<div class="container-fluid">
    <div class="text-center homelogo">Qzine</div>
    <div class="text-center home1txt "><input class="form-control" placeholder="I am hungry for..." ng-model="hungryFor"></div>
    <div class="text-center home1txt"><input class="form-control" placeholder="I am at..." ng-model="iamAt"></div>
    <div class="text-center home1txt"><button class="btn btnGo">Go</button></div>
    <div class="text-center home1txt"><button class="btn">Login</button></div>
    <div class="text-center home1txt"><button class="btn">Sign up</button></div>
</div>