<div class="container-fluid">
    <div class="text-center homelogo">Qzine</div>
    <div class="text-center home1txt "><input class="form-control" placeholder="Username" ng-model="username"></div>
    <div class="text-center home1txt"><input class="form-control" type="password" placeholder="Password" ng-model="password"></div>
    <div class="text-center home1txt"><button class="btn">Forgot Password</button></div>
    <div class="text-center home1txt"><button class="btn btnGo">Go</button></div>    
    <div class="text-center home1txt"><button class="btn" ng-click="goBack()">Back To Home Screen</button></div>
</div>