<div class="container-fluid">
    <div class="text-center homelogo">Qzine</div>
    <div class="text-center home1txt "><input class="form-control" placeholder="Create Username" ng-model="username"></div>
    <div class="text-center home1txt"><input class="form-control" type="password" placeholder="Create Password" ng-model="password"></div>
    <div class="text-center home1txt"><input class="form-control"  placeholder="Email" ng-model="email"></div>
    <div class="text-center home1txt"><input class="form-control"  placeholder="Mobile No." ng-model="mobile"></div>
    <div class="text-center home1txt"><button class="btn btnGo">That's It! Go.</button></div>    
    <div class="text-center home1txt"><button class="btn" ng-click="goBack()">Back To Home Screen</button></div>
</div>